* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

#Top_Div {
    height: 80vh;
}

header {
    height: 100px;
}

#main {
    display: flex;
    justify-content: space-around;
}

#main, div {
    height: 100%;
}

#Top_Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 10%;
}

h1 {
    font-weight: 300;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2 {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
span {
    color: rgb(12, 153, 209);
}

p {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

a {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(12, 140, 191), rgb(12, 153, 209));
    border-radius: 5px;
    padding: 2% 0px;
    width: 150px;
    margin-top: 10px;
}

#Top_Right {
    width: 40%;
}